h1{
    color: white;
    font-size: 40px;
    padding: 20px;
    font-family: 'Permanent Marker', 'Pacifico', cursive;
    
}

h2 {
    color: white;
}

p {
    color: white;
}

html { 
    background: url(../images/pexels-photo-717130.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


